{% extends 'base.html' %}
{% block title %}Main{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

<h1>Tervetuloa {{ name }} with id {{user_id}}!</h1>
<a href="/create_note">Create a new reference</a>
<brk>
<h2>My bibtex references (Demo, to be updated)</h2>

{% for note in notes %}
  <p {{ note.id }}" style="color: rgb(246, 249, 250)">
    {{ note.bib_category}}, {{ note.bib_citekey }}, {{ note.author }}, 
    {{ note.title }}, {{ note.title }}, {{ note.year}}, {{ note.doi_address }}</p>
  <br>
  <br>
{% endfor %}

{% endblock %}
