* {
    margin: 0;
    padding: 0;
}

body {
    background: DeepSkyBlue;
}

div.page_wrapper {
	margin: 0 auto;
	padding: 4rem 1rem;
	max-width: 60em;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	line-height: 1.5;
	/* background: green; */
}

div.credentials_box {
    margin: 6rem auto;
    width: 20rem;
    height: 24rem;
    overflow: auto;
    border-radius: 2rem;
    background: snow;
    /* background: red; */
}

h3.credentials_title {
    text-align: center;
    margin: 2.5rem 0 1.5rem 0;
    font-size: 2rem;
    color: DarkGrey;
}

div.credentials_form {
    margin: 1rem 20%;
    /* background: blue; */
}

input.text_field {
    margin-bottom: 1rem;
    padding: 0 1rem;
    width: calc(100% - 4px - 2rem);
    height: 2.4rem;
    border-radius: 1rem;
    border-style: hidden;
    color: Gray;
    background: #EDEDED;
}

input.text_field:focus {
    outline-width: 0;
}

input.text_field::placeholder {
    color: Grey;
    opacity: 0.7;
}

input.button {
    margin-bottom: 0.5rem;
    width: 100%;
    height: 3rem;
    border-radius: 1rem;
    border-style: hidden;
    font-size: 1.2rem;
    font-weight: normal;
    color: snow;
    opacity:0.8;
}

input.button:hover {
    opacity: 100%;
}

input.submit_btn {
    background: DeepSkyBlue;
}

input.go_register_btn {
    background: #bebebe;    
}

p.error_msg {
    text-align: center;
    color: DarkGrey;
}

.font_small {
    font-size: 0.7rem;
}

.font_medium {
    font-size: 0.8rem;
}
