* {
    margin: 0;
    padding: 0;
}

body {
	font-family: Verdana, Tahoma, Arial, sans-serif;
    line-height: 1.5;
    background: linear-gradient(170deg, DeepSkyBlue, #a6e5fc);
    background-attachment: fixed;
}

div.page_wrapper {
	margin: 0 auto;
	padding: 4rem 1rem;
	max-width: 60em;
	/* background: #59d4fd; */
}

/* General */

.font_big {
    font-size: 1.8rem;
}

.font_bigger {
    font-size: 1.2rem;
}

.font_normal {
    font-size: 1rem;
}

.font_medium {
    font-size: 0.8rem;
}

.font_small {
    font-size: 0.7rem;
}

/* Signin and Register */

div.credentials_box {
    margin: 10rem auto;
    width: 20rem;
    height: 24rem;
    overflow: auto;
    border-radius: 2rem;
    background: snow;
    /* background: red; */
}

h3.credentials_title {
    text-align: center;
    margin: 2.5rem 0 1.5rem 0;
    font-size: 2rem;
    color: DarkGrey;
}

div.credentials_form {
    margin: 1rem 20%;
    /* background: blue; */
}

input.text_field {
    margin-bottom: 1rem;
    padding: 0 1rem;
    width: calc(100% - 4px - 2rem);
    height: 2.4rem;
    border-radius: 1rem;
    border-style: hidden;
    color: Gray;
    background: #EDEDED;
}

input.text_field:focus {
    outline-width: 0;
}

input.text_field::placeholder {
    color: Grey;
    opacity: 0.7;
}

input.button {
    margin-bottom: 0.5rem;
    width: 100%;
    height: 3rem;
    border-radius: 1rem;
    border-style: hidden;
    font-size: 1.2rem;
    font-weight: normal;
    color: snow;
    opacity:0.8;
}

input.button:hover {
    opacity: 100%;
}

input.submit_btn {
    background: DeepSkyBlue;
}

input.go_register_btn {
    background: #bebebe;    
}

p.error_msg {
    text-align: center;
    color: DarkGrey;
}

/* Top Nav */

div.topnav {
    width: 100%;
    height: 3rem;
    position: fixed;
    background: snow;
}

div.topnav img.logo {
    margin-top: 0.7rem;
    margin-left: 2rem;
    height: 1.6rem;
}

div.topnav > a.logout {
    margin-top: 0.45rem;
    margin-right: 2rem;
    padding-top: 0.3rem;
    height: 1.8rem;
    width: 8rem;
    display: block;
    float: right;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border-radius: 1rem;
    background: DarkGrey;
    color: snow;
    opacity: 0.8;
}

div.topnav > a.logout:hover {
    opacity: 1;
}

div.topnav > p.username {
    margin-top: 0.8rem;
    margin-right: 2rem;
    float: right;
    font-weight: bold;
    color: Grey;
}

/* Note listing */

a.add_reference_btn {
    margin: 1.6rem auto;
    padding-top: 0.6rem;
    height: 2.5rem;
    width: 80%;
    display:block;
    text-decoration: none;
    text-align: center;
    border-radius: 1rem;
    background: #009cd9;
    color: snow;
}

a.add_reference_btn:hover {
    background: #008ec9;
}

div.note_listing_item {
    margin: 1rem auto;
    padding-top: 0.8rem;
    width: 80%;
    min-height: 5rem;
    border-radius: 2rem 0 2rem 0;
    overflow: hidden;
    background: snow 
}

div.note_listing_item > p.listing_item_info {
    margin-left: 2rem;
    font-weight: bold;
    color: Gray;
}

div.note_listing_item > p.note_title {
    margin-left: 1.6rem;
    /* text-decoration: underline; */
    color: DimGray
}

div.note_listing_item > p.listing_item_info:last-of-type {
    margin-bottom: 0.8rem;
    font-weight: normal
}

div.note_listing_item > div.note_footer {
    padding: 0.5rem 0 0.5rem 0;
    background: #33cbfe
}

div.note_listing_item > div.note_footer > p.listing_item_info {
    margin-left: 1rem;
    color: snow;
}
